*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace; 
}

:root
{
    --ligth-background-1: #F6F8FF;
    --ligth-background-2: #FEFEFE;
    --dark-background-1: #141D2F;
    --dark-background-2: #1E2A47;
    --ligth-color-1: #222731;
    --ligth-color-2: #697C9A;
    --ligth-color-3: #4B6A9B;
    --ligth-color-4: #2B3442;
    --dark-color: #ffffff;
}

body
{
    /* background-image: url(../images/Desktop\ -\ Light.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -19px; */
    background-color: var(--ligth-background-1);

}



.main
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header,
section
{
    min-width: 730px;
    margin: auto;
}



header .container
{
    min-width: 730px;
    display: flex;
    justify-content: space-between;
}

header .container .left
{
    color: var(--ligth-color-1);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header .container .right
{
    color: var(--ligth-color-2);
    /* text-align: right; */
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .container .right span
{
    margin-right: 13px;
}

header .container .right:hover 
{
    color: var(--ligth-color-1);
}


header .container .right svg path
{
    fill: var(--ligth-color-2);
}


header .container .right:hover svg path
{

    fill: var(--ligth-color-1);
}


.search_bar .container
{
    height: 69px;
    border-radius: 15px;
    background: var(--ligth-background-2);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    margin-top: 35px;
    margin-bottom: 24px;
    display: flex;
}

.search_bar .container .left
{
    width: 80px;
    display: grid;
    place-items: center;
    padding-left: 8px;
}

.search_bar .container .center
{
    flex: 1;
    display: flex;
    align-items: center;
}

.search_bar .container .center input
{
    width: 400px;
    height: 100%;
    color: var(--ligth-color-3);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    border: none;
    outline: none;
    background-color: transparent;
}

.search_bar .container .center input::placeholder
{
    color: var(--ligth-color-3);
}

.search_bar .container .right
{
    width: 128px;
    display: grid;
    place-items: center;
}

.user_description .container
{
    border-radius: 15px;
    background: var(--ligth-background-2);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}


.user_description .container
{
    display: flex;
    padding: 48px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
}

.user_description-left
{
    width: 117px;
    height: 0;
}

.img_user
{
    width: 117px;
    height: 117px;
    border-radius: 50%;
    background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;

}

.user_description-right
{
    width: 517px;
    height: 82px;
    padding-left: 37px;
}

.user_description-botton
{
    width: 517px;
    
    padding-left: 37px;
}

.head_description
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -4px;
    margin-bottom: 3px;
}

.head_description-left
{
    display: flex;
    flex-direction: column;
}

.head_description-right
{
    padding-top: 8px;
}

.name
{
    color: var(--ligth-color-4);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.register
{
    color: var(--ligth-color-2);
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user
{
    color: #0079FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2px;
    margin-bottom: 20px;
}

.bio
{
    color: var(--ligth-color-3);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 32px;
}

.numbers
{
    display: flex;
    height: 85px;
    border-radius: 10px;
    background: var(--ligth-background-1);
    padding: 14px 32px 17px 32px;
    
}


.title
{
    color: var(--ligth-color-3);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.number
{
    color: var(--ligth-color-4);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase;
}

.repos
{
    width: 139px;
}

.followers
{
    width: 154px;
}

.info
{
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
}

.info_left
{
    width: 273px;
}

.info_right
{
    flex: 1;
}

.info_content
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon
{
    width: 33px;
}

.info_content span
{
    color: var(--ligth-color-3);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -6px;
}


.fillDark
{
    fill: #fff;
}



@media (max-width: 768px)
{

    body
    {
        /* background-image: url(../images/Tablet\ -\ Light.jpg);
        background-repeat: no-repeat;
        background-position-y: -60px; */
        
    }
    
    main
    {
        /* opacity: 0.3; */
    }
    header,
    section,
    header .container
    {
        min-width: 573px;
        max-width: 573px;
    }


    .search_bar .container .left
    {
        padding-left: 7px;
    }

    .search_bar .container .center input
    {
        width: 275px;
    }

    .user_description .container
    {
        padding: 40px;
    }

    .user_description-right
    {
        width: 376px;
        height: 117px;
        padding-left: 40px;
    }

    .user_description-botton
    {
        width: 100%;
        padding-left: 0;
    }

    .repos
    {
        width: 138px;
    }

    .followers
    {
        width: 154px;
    }

    

    .head_description
    {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 17px;
    }

    .user
    {
        margin-bottom: -3px;
    }

    .bio
    {
        margin-top: 24px;
    }

    .info
    {
        margin-top: 31px;
    }
}

@media (max-width: 375px)
{
    body
    {
        /* background-image: url(../images/Mobile\ -\ Light.jpg);
        background-repeat: no-repeat;
        background-position-y: 50px; */
        
    }



    header,
    section,
    header .container
    {
        min-width: 327px;
        max-width: 327px;
    }

    .search_bar .container
    {
        height: 60px;

    }

    .search_bar .container .left
    {
        padding-left: 15px;
        width: fit-content;
    }
    .search_bar .container .left img
    {
        width: 21px;
    }

    .search_bar .container .center
    {
        padding-left: 9px;
        flex: auto;
    }

    .search_bar .container .center input
    {
        width: 185px;
        font-size: 13px;
    }

    .btn_light
    {
        width: 84px;
        height: 46px;
    }

    .user_description .container
    {
        padding: 24px;
        justify-content: flex-start;
    }

    .user_description-left
    {
        width: 70px;
    }

    .img_user
    {
        width: 70px;
        height: 70px;
    }

    .user_description-right
    {
        width: 209px;
        height: 70px;
        padding-left: 20px;
    }

    .head_description
    {
        padding-top: 6px;
    }

    .name
    {
        font-size: 16px;
    }

    .user
    {
        margin-top: 0px;
        font-size: 13px;
    }

    .register
    {
        
        font-size: 13px;
    }

    .bio
    {
        margin-top: 34px;
        font-size: 13px;
    }

    .repos,
    .followers,
    .following
    {
        width: fit-content;
    }

    .repos
    {
        margin-right: 33px;
    }

    .followers
    {
        
        margin-right: 25px;
    }

    .title
    {
        font-size: 11px;
    }
    .number
    {
        font-size: 16px;
        text-align: center;
    }

    .numbers
    {
        padding: 9px 28px 17px 38px;
    }

    .info
    {
        margin-top: 14px;
    }

    .info_content span
    {
        font-size: 13px;
    }

}