*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace; 
}

:root
{
    --ligth-background-1: #F6F8FF;
    --ligth-background-2: #FEFEFE;
    --dark-background-1: #141D2F;
    --dark-background-2: #1E2A47;
    --ligth-color-1: #222731;
    --ligth-color-2: #697C9A;
    --ligth-color-3: #4B6A9B;
    --ligth-color-4: #2B3442;
    --dark-color: #ffffff;
}

body
{
    /* background-image: url(../images/Desktop\ -\ Light.jpg);
    background-repeat: no-repeat;
    background-position-x: center; */
    background-color: var(--ligth-background-1);
    /* padding-top: 145px; */

}



.main
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header,
section
{
    min-width: 730px;
    margin: auto;
}

main
{
    /* opacity: 0.3; */
}

header .container
{
    min-width: 730px;
    display: flex;
    justify-content: space-between;
}

header .container .left
{
    color: var(--ligth-color-1);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header .container .right
{
    color: var(--ligth-color-2);
    /* text-align: right; */
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .container .right span
{
    margin-right: 13px;
}

header .container .right:hover 
{
    color: var(--ligth-color-1);
}


header .container .right svg path
{
    fill: var(--ligth-color-2);
}


header .container .right:hover svg path
{

    fill: var(--ligth-color-1);
}


.search_bar .container
{
    height: 69px;
    border-radius: 15px;
    background: var(--ligth-background-2);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    margin-top: 35px;
    margin-bottom: 24px;
    display: flex;
}

.search_bar .container .left
{
    width: 80px;
    display: grid;
    place-items: center;
    padding-left: 8px;
}

.search_bar .container .center
{
    flex: 1;
    display: flex;
    align-items: center;
}

.search_bar .container .center input
{
    width: 400px;
    height: 100%;
    color: var(--ligth-color-3);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    border: none;
    outline: none;
    background-color: transparent;
}

.search_bar .container .center input::placeholder
{
    color: var(--ligth-color-3);
}

.search_bar .container .right
{
    width: 128px;
    display: grid;
    place-items: center;
}

.user_description .container
{
    height: 419px;
    border-radius: 15px;
    background: var(--ligth-background-2);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}


.user_description .container
{
    display: flex;
    padding: 48px;
}

.user_description .container .left
{
    width: 154px;
    overflow: hidden;
}

.img_user
{
    width: 117px;
    height: 117px;
    border-radius: 50%;
    background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;

}


.user_description .container .right
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.head_description
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-top: -4px;
    margin-bottom: 3px;
}

.name
{
    color: var(--ligth-color-4);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.register
{
    color: var(--ligth-color-2);
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user
{
    color: #0079FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.bio
{
    color: var(--ligth-color-3);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 32px;
}

.numbers
{
    display: flex;
    height: 85px;
    border-radius: 10px;
    background: var(--ligth-background-1);
    padding: 14px 32px 17px 32px;
    
}


.title
{
    color: var(--ligth-color-3);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.number
{
    color: var(--ligth-color-4);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase;
}

.repos
{
    width: 139px;
}

.followers
{
    width: 154px;
}

.info
{
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
}

.info_left
{
    width: 273px;
}

.info_right
{
    flex: 1;
}

.info_content
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon
{
    width: 33px;
}

.info_content span
{
    color: var(--ligth-color-3);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -6px;
}


